<p id="notice"><%= notice %></p>
<div class="property-detail">
    <div class="overview">
        <img src="<%= @vacation_property.image_url %>" />
    </div>
    <h2><%= @vacation_property.description %></h2>
    <%= link_to 'Edit', edit_vacation_property_path(@vacation_property) %> |
    <%= link_to 'Back', vacation_properties_path %>
</div>
