<% content_for :hero do %>
  <div class="hero-text">
    <h1>Lodging fit for a captain</h1>
    <p>The Next Generation of vacation rentals.</p>
  </div>
<% end %>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <% if @reservations.empty? %>
      <h2> You are not hosting any reservations. </h2>
    <% else %>
      <h2> Your current reservations as a Host. </h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Guest Name</th>
            <th>Phone Number</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <% @reservations.each do |reservation| %>
            <tr>
              <th scope="row"><%= reservation.id %></th>
              <td><%= reservation.name %></td>
              <td><%= reservation.phone_number %></td>
              <td><%= reservation.message %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
