<!DOCTYPE html>
<html>
<head>
  <title>Account Verification with Ruby on Rails</title>
  <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '//cdnjs.cloudflare.com/ajax/libs/authy-forms.css/2.2/form.authy.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/authy-forms.js/2.2/form.authy.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield :nav %>
    <!-- Nav Bar -->
    <nav class="navbar navbar-transparent">
      <a class="navbar-brand" href="/">airtng</a>
      <p id="nav-links" class="navbar-text pull-right">
        <%= link_to "Sign Up", new_user_path %>
      </p>
    </nav>

  <%= yield :hero %>
  <section id="main" class="push-hero">
    <%= flash_messages %>
    <%= yield %>
  </section>

  

  

  <footer>
    Made with <i class="fa fa-heart"></i> by your pals
    <a href="http://www.twilio.com">@twilio</a>
  </footer>

</body>
</html>
